@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Sigmar&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: white;
    background-color: black;
    font-family: "Parkinsans", sans-serif;
}

header h1{
    background-color: rgb(12, 12, 12);
    height: 50px;
    border-radius: 10px;
}

.calculo .btn{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgb(12, 12, 12);
    width: 40vw;
    height: 30vh;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .calculo input{
    border-radius: 15px;
    border: solid black 1px;
    outline: none;
    width: 40px;
    height: 40px;
    padding: 2px;
    font-size: 1.5rem;
    text-align: center;
}

.btn button{
    width: 100px;
    height: 25px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.btn button:hover{
    background-color: rgb(50, 50, 50);
    transition: ease-in 0.2s;
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

label{
    font-size: 2rem;
}